#page-content{
    margin: 0;
    padding: 0;
}

.my_border{
    border: none;
}
.p-project{
     margin-right: 10px;
}
 .p-add{
      margin-left: 5px;
 }
 .p-add a{
    margin-left: 5px;
    text-decoration: none;
}
