<div id="page-content">
  <!-- Validation Header -->
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-asterisk fa-spin"></i>Add User<br><small>Add user alongwith the required details !</small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li class="p-project">Users</li>
    <li class="p-add"><a href="#">Add</a></li>
  </ul>
  <div class="container-fluid">
    <div class="block">
      <!-- Progress Bars Wizard Title -->
      <div class="block-title">
        <h2>Fill User Details</h2>
      </div>
      <!-- END Progress Bar Wizard Title -->

        <form [formGroup]="userFormData">
          <!-- Progress Bar Wizard Content -->
          <div class="row">
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Employee Code</mat-label>
                <input matInput formControlName="empCode">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter First Name</mat-label>
                <input matInput formControlName="fName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Last Name</mat-label>
                <input matInput formControlName="lName">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Mobile</mat-label>
                <input matInput formControlName="mobile">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Device Id</mat-label>
                <input matInput formControlName="deviceId">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Password</mat-label>
                <input matInput formControlName="password">
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-control my_border">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a Client</mat-label>
                    <mat-select multiple formControlName="assignedClients">
                      <mat-option [value]="client.Id" *ngFor="let client of clientAlias">
                        {{client.ClientAlias}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
        </div>

          <div class="col-md-12">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Choose a Project</mat-label>
                <mat-select multiple formControlName="assignedProjects">
                  <mat-option [value]="project.Id" *ngFor="let project of projectAlias">
                    {{project.ProjectAlias}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button (click)="resetData()" mat-raised-button class="btn btn-warning float-end m-2">Reset</button>
            <button (click)="submitData()" [disabled]="!userFormData.valid" mat-raised-button
              class="btn btn-success float-end m-2">
              <ng-container *ngIf="!isLoading"> Save</ng-container>
              <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
            </button>
          </div>
        </div>

        </form>

    </div>
  </div>
</div>
