<div id="page-content">
    <!-- Validation Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-asterisk fa-spin"></i>Add User<br><small>Add user alongwith the required details !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li class="p-project">Users</li>
        <li class="p-add"><a href="#">Add</a></li>
    </ul>
    <div class="container-fluid">
        <div class="block">
            <!-- Progress Bars Wizard Title -->
            <div class="block-title">
                <h2>Fill User Details</h2>
            </div>
            <!-- END Progress Bar Wizard Title -->
    
            <!-- Progress Bar Wizard Content -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-control my_border">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Employee Code</mat-label>
                   <input matInput>
                    </mat-form-field>
                    </div>
                  </div>
               
                <div class="col-md-4">
                    <div class="form-control my_border">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Last Name</mat-label>
                   <input matInput>
                    </mat-form-field>
                    </div>
                  </div>
                <div class="col-md-4"> 
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Mobile</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>               
                </div>
                <div class="col-md-4"> 
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter First Name</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>               
                </div>
                <div class="col-md-4"> 
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Device Id</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>               
                </div>
                <div class="col-md-4"> 
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Password</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>               
                </div>    
           
                <div class="col-md-4">
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Enter Email</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>
                </div> 
                <div class="col-md-8">
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a Client</mat-label>
                            <mat-select multiple>
                              <mat-option ></mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                </div> 
                <div class="col-md-12">
                    <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a Project</mat-label>
                            <mat-select multiple>
                              <mat-option ></mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                </div> 
                <div class="col-md-12">
                    <button mat-raised-button class="btn btn-warning float-end m-2">Reset</button>
                    <button mat-raised-button class="btn btn-success float-end m-2">Save</button>
                    </div>
           
            </div>
           
            
        </div>
    </div>
</div>
