<div id="page-content">
    <!-- Validation Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-asterisk fa-spin"></i>Manage Projects<br><small>Manage All Projects Here !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li class="p-project">Projects</li>
        <li class="p-add"><a href="#">Manage</a></li>
    </ul>
    <div class="container-fluid">
        <div class="block">
            <!-- Progress Bars Wizard Title -->
            <div class="block-title">
                <h2>Projects Added</h2>
                <form class="example-form">
                    <div class="col-md-12">
                   <div class="form-control my_border">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a Client</mat-label>
                            <mat-select >
                              <mat-option (onSelectionChange)="getProjectById(client.Id)" [value]="client.Id" *ngFor="let client of clientAlias">
                                {{client.ClientAlias}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
          </div>
                  </form>
            </div>
            <div class="row">
                <ag-grid-angular
                style="width: 100%; height: 380px;"
                class="ag-theme-balham"
                [frameworkComponents]="frameworkComponents"
                [rowData]="rowData"
                [defaultColDef]="defaultColDef"
                [columnDefs]="columnDefs">
               </ag-grid-angular>
        </div>
            <!-- END Progress Bar Wizard Title -->

            <!-- Progress Bar Wizard Content -->
    </div>
    </div>
