<div id="page-content">
    <!-- Validation Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-asterisk fa-spin"></i>Add Project<br><small>Add Project alongwith the required details !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li class="p-project">Projects</li>
        <li class="p-add"><a href="#">Add</a></li>
    </ul>
    <div class="container-fluid">
        <div class="block">
            <!-- Progress Bars Wizard Title -->
            <div class="block-title">
                <h2>Fill Project Details</h2>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Choose a Client</mat-label>
                      <input type="text"
                             placeholder="Pick one"
                             aria-label="Number"
                             matInput
                             [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option >
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
            </div>
            <!-- END Progress Bar Wizard Title -->
    
            <!-- Progress Bar Wizard Content -->
    </div>
    </div>
