<div id="page-content">
    <!-- Validation Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-asterisk fa-spin"></i>Add Project<br><small>Add Project alongwith the required details !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li class="p-project">Projects</li>
        <li class="p-add"><a href="#">Add</a></li>
    </ul>
    <div class="container-fluid">
        <div class="block">
            <!-- Progress Bars Wizard Title -->
            <div class="block-title">
                <h2>Fill Project Details</h2>
            </div>
            <!-- END Progress Bar Wizard Title -->
    
            <!-- Progress Bar Wizard Content -->
            <div class="row">
                <div class="col-md-4">
                    <div class="form-control my_border">
                    <mat-form-field>
                        <mat-label>Enter Project Code</mat-label>
                   <input matInput>
                    </mat-form-field>
                    </div>
                  </div>
                <div class="col-md-4">                
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-control my_border">
                    <mat-form-field>
                        <mat-label>Choose a Client</mat-label>
                   <input matInput>
                    </mat-form-field>
                    </div>
                  </div>
                <div class="col-md-4"> 
                    <div class="form-control my_border">
                        <mat-form-field>
                            <mat-label>Enter Project Alias</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>               
                </div>
                <div class="col-md-4">
                    <div class="form-control my_border">
                        <mat-form-field>
                            <mat-label>Enter Project Name</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-control my_border">
                        <mat-form-field>
                            <mat-label>Choose Columns..</mat-label>
                       <input matInput>
                        </mat-form-field>
                        </div>
                </div> 
            </div>
             <div class="my_btn">
            <button mat-raised-button color="primary" class="save">Save</button>
            <button mat-raised-button color="primary" class="reset">Reset</button>
            </div>
            <!-- END Progress Bar Wizard Content -->
        </div>
    </div>