<div id="page-content">
  <!-- Validation Header -->
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-asterisk fa-spin"></i>Add Client<br><small>Add client alongwith the required details !</small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li class="p-project">Client</li>
    <li class="p-add"><a href="#">Add</a></li>
  </ul>
  <div class="container-fluid">
    <div class="block">
      <!-- Progress Bars Wizard Title -->
      <div class="block-title">
        <h2>Fill Client Details</h2>
      </div>
      <!-- END Progress Bar Wizard Title -->
      <form [formGroup]="clientFormData">
        <!-- Progress Bar Wizard Content -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Add Client Code</mat-label>
                <input matInput formControlName="clientCode" appUpperCase appNotSpecialChars="noSpecialChars"  >
                <mat-error> Client code is Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Add Organization Name</mat-label>
                <input matInput formControlName="organizationName" appTitleCase >
                <mat-error> Orgination Name is Required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Client Alias</mat-label>
                <input matInput formControlName="clientAlias"  appNotSpecialChars="textOnly" maxlength="90" >
                <mat-error> Client Alias is Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter SPOC Name</mat-label>
                <input matInput formControlName="sPOCName" appTitleCase appNotSpecialChars="textOnly" maxlength="90" >
                <mat-error> SPOC Name is Required</mat-error>   </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter SPOC Mobile</mat-label>
                <input matInput formControlName="sPOCMobile" numbersOnly maxlength="10">
                <mat-error> SPOC Mobile is Required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter SPOC Email</mat-label>
                <input matInput formControlName="sPOCEmail" maxlength="200">
                <mat-error> SPOC Email is Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Escalation Name</mat-label>
                <input matInput formControlName="escalationName" appNotSpecialChars="textOnly" >
                <mat-error> Escalation Name is Required</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Escalation Mobile</mat-label>
                <input matInput formControlName="escalationMobile"  numbersOnly maxlength="10">
                <mat-error> Escalation Mobile is Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Escalation Email</mat-label>
                <input matInput formControlName="escalationEmail" maxlength="200">
                <mat-error *ngIf="clientFormData.hasError('required','escalationEmail') && !clientFormData.get('escalationEmail')?.pristine">Email is required</mat-error>
                <mat-error *ngIf="clientFormData.hasError('email','escalationEmail') && !clientFormData.get('escalationEmail')?.pristine">Email is not valid</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-control my_border">
              <mat-form-field appearance="outline">
                <mat-label>Enter Address</mat-label>
                <textarea matInput formControlName="address" ></textarea>
                <mat-error> Escalation Address is Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <button (click)="resetData()"  mat-raised-button  class="btn btn-warning float-end m-2">Reset</button>
            <button (click)="submitData()" [disabled]="!clientFormData.valid" mat-raised-button
            class="btn btn-success float-end m-2">
            <ng-container *ngIf="!isLoading"> Save</ng-container>
              <mat-spinner
              *ngIf="isLoading"
              diameter="20"
            ></mat-spinner>

            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
