<header class="navbar navbar-default">
  <!-- Left Header Navigation -->
  <ul class="nav navbar-nav-custom">
      <!-- Main Sidebar Toggle Button -->
      <li>

      </li>
  </ul>
     <!-- Right Header Navigation -->
     <ul class="nav navbar-nav-custom pull-right" data-step="2" data-intro="user Activity Details">
      <!-- Alternative Sidebar Toggle Button -->
      <!-- END Alternative Sidebar Toggle Button -->

      <!-- User Dropdown -->
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="../Content/img/blue-logo.png" />

              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
              <li class="dropdown-header text-center">Account</li>

              <li>
                  <a href="/manage-activity"><i class="fa fa-hourglass-2 fa-fw pull-right"></i>All Activity</a>
              </li>
              <li class="divider"></li>
              <li>

                  <i class="fa fa-ban fa-fw pull-right"></i>Logout
              </li>

          </ul>
      </li>
      <!-- END User Dropdown -->
  </ul>
  <!-- END Right Header Navigation -->
</header>
